.container {
    width: 30%;
    margin-top: 15%;
    border: 1px solid gray;
    border-radius: 20px;
    padding: 0;
}

header {
    background-color: #0dcaf0;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    padding: 5px;
    text-align: center;
}

@media screen and (max-width: 992px) {
    .container {
        width: 80%;
        margin-top: 50%;
    }
}